<div class="card card-alignment">
    <h2 class="mx-auto text-white">Registration</h2>
    <form class="mx-auto my-auto" [formGroup]="registrationForm"
        (submit)="this.addMentorDetails(registrationForm.value)">
        <div *ngIf="!this.mentorAdded">
            <div *ngIf="this.errorMessage!=null" class="alert-warning">
                {{this.errorMessage}}
            </div>
            <label for="linkedInURL" class="text-white"> LinkedIn URL :</label>
            <input class="form-control" type="text" placeholder="Enter LinkedIn URL here" id="linkedInURL"
                formControlName="linkedInURL">
            <div class="text-warning" *ngIf="linkedInURL.touched && linkedInURL.invalid && linkedInURL.errors.required">
                Email is required
            </div>
            <div class="text-warning" *ngIf="linkedInURL.errors?.maxlength">LinkedIn URL cannot be more than 100
                characters
            </div>
            <label for="yearsOfExperience" class="text-white mt-4">Years Of Experience :</label>
            <input class="form-control" type="number" placeholder="Enter Years Of Experience here"
                id="yearsOfExperience" formControlName="yearsOfExperience">
            <div class="text-warning"
                *ngIf="yearsOfExperience.touched && yearsOfExperience.invalid && yearsOfExperience.errors.required">
                Years Of
                Experience
                is required</div>
            <div class="text-warning" *ngIf="yearsOfExperience.errors?.min">
                Years of Experience cannot be below 00.00
            </div>
            <label for="timeslot" class="text-white mt-4">Select Time Slot :</label>
            <select id="timeslot" class="form-control" formControlName="timeslot">
                <option value disabled selected>Please select your Time Slot</option>
                <option value="09:00-11:00">09:00-11:00</option>
                <option value="11:00-13:00">11:00-13:00</option>
                <option value="13:00-15:00">13:00-15:00</option>
                <option value="15:00-17:00">15:00-17:00</option>
                <option value="17:00-19:00">17:00-19:00</option>
                <option value="19:00-21:00">19:00-21:00</option>
            </select>
            <div class="text-warning" *ngIf="timeslot.touched && timeslot.invalid && timeslot.errors.required">Time Slot
                is required</div>
            <div class="my-5">
                <input type="submit" class="btn btn-info" value="Add Details" [disabled]="!registrationForm.valid">
            </div>
        </div>
    </form>
    <div *ngIf="this.mentorAdded">
        <div class="skillCard card mt-4">
            <div class="alert text-white mt-4 mx-auto my-auto">You can add multiple Skills</div>
            <div *ngIf="this.errorMessage!=null" class="alert-warning">
                {{this.errorMessage}}
            </div>
            <form class="mx-auto my-auto" [formGroup]="skillForm" (submit)="this.addSkill(skillForm.value)">
                <label for="skill" class="text-white mt-4">Select Skill :</label>
                <select id="skill" class="form-control" formControlName="skill">
                    <option value disabled selected>Please select your Skill</option>
                    <option *ngFor="let skill of skillList" [value]="skill.name">{{skill.name}}</option>
                </select>
                <div class="text-warning" *ngIf="skill.touched && skill.invalid && skill.errors.required">
                    Skill is required
                </div>
                <label for="selfRating" class="text-white mt-4"> Self Rating for This skill :</label>
                <input class="form-control" type="number" placeholder="Enter Self Rating here" id="selfRating"
                    formControlName="selfRating">
                <div class="text-warning"
                    *ngIf="selfRating.touched && selfRating.invalid && selfRating.errors.required">
                    Self Rating is required
                </div>
                <div class="text-warning" *ngIf="selfRating.errors?.max">
                    Self Rating cannot be over 10.00
                </div>
                <div class="text-warning" *ngIf="selfRating.errors?.min">
                    Self Rating cannot be below 00.00
                </div>
                <label for="yearsExperience" class="text-white mt-4"> Years of Experience with This skill :</label>
                <input class="form-control" type="number" placeholder="Enter Self Rating here" id="yearsExperience"
                    formControlName="yearsExperience">
                <div class="text-warning"
                    *ngIf="yearsExperience.touched && yearsExperience.invalid && yearsExperience.errors.required"> Years
                    of Experience is required
                    Years of Experience is required
                </div>
                <div class="text-warning" *ngIf="yearsExperience.errors?.min">
                    Years of Experience cannot be below 00.00
                </div>
                <div class="my-5">
                    <input type="submit" class="btn btn-info" value="Add This Skill" [disabled]="!skillForm.valid">
                </div>
                <div class="my-5">
                    <input type="button" class="btn btn-info" value="Complete Sign Up" [disabled]="!this.submittedSkill"
                        routerLink="/login">
                </div>
            </form>
        </div>
    </div>
</div>