<div class="row">
  <div class="panel panel-primary clearfix">
    <div class="panel-heading clearfix"><strong>Name: </strong>{{mentorSkillData.skillName}}</div>
    <div class="panel-body"><strong>Duration </strong>{{mentorSkillData.skillDuration}} months</div><!--
    <div class="panel-body"><strong>Notes Material: </strong>{{mentorSkillData.notesMaterial}}</div>
    <div class="panel-body"><strong>Email: </strong>{{mentorData.mentorEmail}}</div>
    <div class="panel-body"><strong>Ratings: </strong>{{'********'}}</div>-->
    <div></div>
  </div>
</div>
