.card {
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
        margin: 0 auto; /* Added */
        float: none; /* Added */
        /* margin-bottom: 10px; Added */
        margin-top: 60%;
  }

  body
    {
        background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),
            url("https://images.unsplash.com/photo-1414124488080-0188dcbb8834?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80");
          height: 100vh;
          background-size: cover;
          background-position: center;  
          /* margin-top: 100px !important; */
    
    }
  