<!-- <body>

    
        <h2 style="text-align:center">Bill Details</h2>
        
        <div class="card">
         <tr>
             <td><strong>Bill Type:</strong></td><td>{{billitem.vendor.vendor_type}}</td>
         </tr>
         <tr>
                <td>Vendor Name:</td><td>{{billitem.vendor.vendor_name}}</td>
            </tr>
            <tr>
                    <td>User Name:</td><td>{{billitem.user.userid}}</td>
                </tr>
                <tr>
                        <td>Consumer Number:</td><td>{{billitem.consumer_id}}</td>
                    </tr>
                    <tr>
                            <td>Bill Amount:</td><td>{{billitem.amount}}</td>
                        </tr>
                        <div class="mt-2">
          <p><button [routerLink]="['/vendorinfo',billitem.vendor.username]">Pay</button></p>
          </div>
        </div>
        </body> -->
<html>
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container">
   <div class="col-md-12">
      <div class="invoice">
         <!-- begin invoice-company -->
         <div class="invoice-company text-inverse f-w-600">
            <span class="pull-right hidden-print">
            <!-- <a href="javascript:;" class="btn btn-sm btn-white m-b-10 p-l-5"><i class="fa fa-file t-plus-1 text-danger fa-fw fa-lg"></i> Export as PDF</a> -->
            <a href="javascript:;" onclick="window.print()" class="btn btn-sm btn-white m-b-10 p-l-5"><i class="fa fa-print t-plus-1 fa-fw fa-lg"></i> Print</a>
            </span>
            {{billitem.vendor.vendor_type}}
         </div>
         <!-- end invoice-company -->
         <!-- begin invoice-header -->
         <div class="invoice-header">
            <div class="invoice-from">
               <small>from</small>
               <address class="m-t-5 m-b-5">
                  <strong class="text-inverse">{{billitem.vendor.vendor_type}}</strong><br>
                  {{billitem.vendor.address}}
               </address>
            </div>
            <div class="invoice-to">
               <small>to</small>
               <address class="m-t-5 m-b-5" >
                  <strong class="text-inverse">{{billitem.user.userid}}</strong><br>
                  {{billitem.user.firstname}}<br>
                  {{billitem.user.lastname}}<br>
                  {{billitem.user.age}}<br>
                  {{billitem.user.gender}}<br>
                  {{billitem.user.contact}}<br>
                  
               </address>
            </div>
            <div class="invoice-date">
               <small>Invoice/period</small>
               <div class="date text-inverse m-t-5">
                   <strong><p id="showDate"></p></strong>
               </div>
               <div class="invoice-detail">
                    {{billitem.consumer_id}}<br>
                    {{billitem.vendor.vendor_type}}
               </div>
            </div>
         </div>
         <!-- end invoice-header -->
         <!-- begin invoice-content -->
         <div class="invoice-content">
            <!-- begin table-responsive -->
            <div class="table-responsive">
               <table class="table table-invoice">
                  <thead>
                     <tr>
                        <th>PAYMENT DESCRIPTION</th>
                        <th class="text-center" width="10%">PAYMENT GATEWAY</th>
                        <th class="text-center" width="10%">CONSUMER ID</th>
                        <th class="text-right" width="20%">BILL TOTAL</th>
                     </tr>
                  </thead>
                  <tbody>
                     <tr>
                        <td>
                           <span class="text-inverse">{{billitem.vendor.vendor_type}}</span><br>
                        </td>
                        <td class="text-center">{{billitem.vendor.payment_gateway}}</td>
                        <td class="text-center">{{billitem.consumer_id}}</td>
                        <td class="text-right">{{billitem.amount}}</td>
                     </tr>
                  </tbody>
               </table>
            </div>
            <!-- end table-responsive -->
            <!-- begin invoice-price -->
            <div class="invoice-price">
               <div class="invoice-price-left">
                  <div class="invoice-price-row">
                     <div class="sub-price">
                        <small>SUBTOTAL</small>
                        <span class="text-inverse">Rs.{{billitem.amount}}</span>
                     </div>
                     <div class="sub-price">
                        <i class="fa fa-plus text-muted"></i>
                     </div>
                     <div class="sub-price">
                        <small>PAYMENT TAX</small>
                        <span class="text-inverse">Rs.0.00</span>
                     </div>
                  </div>
               </div>
               <div class="invoice-price-right">
                 <small>TOTAL</small> <span class="f-w-600">Rs.{{billitem.amount}}</span>
               </div>
               

            </div>
            <!-- end invoice-price -->
         </div>
         
         <p><button class="btn btn-danger" [routerLink]="['/vendorinfo',billitem.vendor.username]">Pay</button></p>

         <!-- end invoice-content -->
         <!-- begin invoice-note -->
         <div class="invoice-note">
            * Make all cheques payable to [{{billitem.vendor.vendor_email}}]<br>
            * Payment is due within 30 days<br>
            * If you have any questions concerning this invoice, contact  [{{billitem.vendor.vendor_type}}, {{billitem.vendor.contact_number}}, {{billitem.vendor.vendor_email}}]
         </div>
         <!-- end invoice-note -->
         <!-- begin invoice-footer -->
         <div class="invoice-footer">
            <p class="text-center m-b-5 f-w-600">
               THANK YOU FOR YOUR BUSINESS
            </p>
            <p class="text-center">
               <span class="m-r-10"><i class="fa fa-fw fa-lg fa-globe"></i>{{billitem.vendor.website}}</span>
               <span class="m-r-10"><i class="fa fa-fw fa-lg fa-phone-volume"></i> {{billitem.vendor.registration_no}}</span>
               <span class="m-r-10"><i class="fa fa-fw fa-lg fa-envelope"></i> {{billitem.vendor.vendor_email}}</span>
            </p>
         </div>
         <!-- end invoice-footer -->
      </div>
   </div>
</div>
<script type="text/javascript" language="javascript">
    function GetDateTime() {
    
        var param1 = new Date();
        document.getElementById('txtDateOfIncorporation').value = param1;
    
    }
    </script>
        
</html>