<nav class="navbar navbar-dark navbg">
  <div class="container-fluid">
    <div class="navbar-header">
      <h1 class="text-white py-4">
        <i class="material-icons">toys</i>
        Mentor On Demand</h1>
    </div>
    <ul class="nav  ml-auto">
      <li *ngIf="!this.userService.getRole()">
        <button class="text-white ml-2 btn btn-info" routerLink="/login"> Login </button>
      </li>
      <li *ngIf="!this.userService.getRole()">
        <button class="text-white ml-2 btn btn-warning" routerLink="/register"> Registration </button>
      </li>
      <li *ngIf="this.userService.getRole()=='ROLE_M'">
          <button class="text-white ml-2 btn btn-warning" routerLink="/addSkill"> Add Skill </button>
        </li>
      <li *ngIf="this.userService.getRole()">
        <button class="text-white ml-2 btn btn-primary"> Hello, {{this.userService.getDisplayName()}} </button>
      </li>
      <li *ngIf="this.userService.getRole()">
        <button class="text-white ml-2 btn btn-danger" (click)="logout()" routerLink="/login"> Logout </button>
      </li>
    </ul>
  </div>
</nav>
<router-outlet></router-outlet>
<nav class="navbar navbar-dark navbg bottomnav mt-auto">
  <div class="container-fluid">
    <div class="navbar-header">
      <h5 class="text-white">Copyright 2019</h5>
    </div>
  </div>
</nav>