.btn {
  border: 2px solid black;
  background-color: transparent;
  color: black;
  font-size: 14px;
  cursor: pointer;
  border-radius: 4px;
}

/* Green */
.success {
  border-color: #4CAF50;
  color: green;
}

.success:hover {
  background-color: #4CAF50;
  color: white;
}

/* Red */
.danger {
  border-color: #f44336;
  color: red
}

.danger:hover {
  background: #f44336;
  color: white;
}

td,th{
  text-align: center;
}
