
			<header>

				<div class="row">
					<div class="logo">
						<img src="https://st2.depositphotos.com/6628792/9630/v/950/depositphotos_96309398-stock-illustration-payment-type-icon.jpg">
					</div>
					<ul class="main-nav">
                        <!-- <li class="active"><a href="">Home</a></li>
                        <li class="nav-link"><a class="nav-link" routerLink="login/">sign up</a></li>
						<li class="nav-item " *ngIf="!loggedIn()">
							<a class="nav-link" routerLink="login/">Login</a>
                        </li>
						<li class="nav-item " *ngIf="!loggedIn()">
							<a class="nav-link" routerLink="signup/">User Signup</a>
						</li>
						<li class="nav-item	" *ngIf="!loggedIn()">
							<a class="nav-link" routerLink="vendorsignup/">Vendor Signup</a>
						</li> -->
					</ul>
					<!-- <h1>Our Services</h1> -->
				</div>
				
				<br>
				<br>
				

				<div class="row">
						
						<div class="column">
						  <div class="card">
							<img src="https://images.unsplash.com/photo-1556741574-0ddb65d14311?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80" alt="Jane" style="width:100%">
							<div class="container">
							  <h2>DTH BILLS</h2>
							  <p class="title">Any Type Of DTH Payments</p>
							  <p>Pay securely in this Site.</p>
							  <!-- <p>example@example.com</p> -->
							  <!-- <p><button class="button">Contact</button></p> -->
							</div>
						  </div>
						</div>
					  
						<div class="column">
						  <div class="card">
							<img src="https://images.unsplash.com/photo-1556742521-9713bf272865?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80" alt="Mike" style="width:100%">
							<div class="container">
							  <h2>TELEPHONE BILLS</h2>
							  <p class="title">Any Type Of Telephone Payments</p>
							  <p>Pay securely in this Site.</p>
							  <!-- <p>example@example.com</p> -->
							  <!-- <p><button class="button">Contact</button></p> -->
							</div>
						  </div>
						</div>
						<div class="column">
						  <div class="card">
							<img src="https://images.unsplash.com/photo-1556742502-ec7c0e9f34b1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80" alt="John" style="width:100%">
							<div class="container">
							  <h2>ELECTRIC CITY BILLS</h2>
							  <p class="title">Any Type Of Electric Bill Payments</p>
							  <p>Pay securely in this Site.</p>
							  <!-- <p>example@example.com</p> -->
							  <!-- <p><button class="button">Contact</button></p> -->
							</div>
						  </div>
						</div>
						
					  </div>
					  

			</header>
    
            